<script type="x-tmpl" id="location-search-box-template">
  <div id="location-search-box-modal">
    <div class="modal-header">
      <h3>Acciones</h3>
    </div>
    <div class="modal-body">
      <div class="input-append location-search-container">
        <input class="location-search-bar span10 typeahead location-search-typeahead" type="text">
        <a class="location-search-button btn">Buscar</a>
      </div>
      <div class="discover-container">
        <dl class="dl-horizontal">
          <dt class="discover-legend">Descubrir los alrededores</dt>
          <dd class="discover-button"><a class="btn" href="#"><i class="icon-search"></i></a></dd>
        </dl>
      </div>
    </div>
  </div>
</script>
