#map {
    width: 900px;
    height: 700px;
}

#map img { max-width:none; }

.SvgOverlay {
    position: relative;
    width: 500px;
    height: 500px;
}

.SvgOverlay svg {
    position: absolute;
    top: -4000px;
    left: -4000px;
    width: 8000px;
    height: 8000px;
}

.SvgOverlay path {
    stroke: Orange;
    stroke-width: 2px;
    fill: Orange;
    fill-opacity: .3;
}