<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3" id="sidebar">
      <div id="details">
      </div>
    </div>
    <div class="span9">
      <div id="chart"></div>
    </div>
  </div>
</div>


