<div class="container-fluid">
  <div class="row-fluid">
      <div id="map-wrap">
        <div id="map">
        </div>
      </div>
  </div>
</div>

<div id="introduction-modal" class="modal show fade">
  <div class="modal-header">
    <h3>Tip</h3>
  </div>
  <div class="modal-body">
    <p>Hace click en la barra de busquedas de arriba a la derecha o en cualquier lugar del mapa para empezar</p>
  </div>
</div>


<div id="modal-placeholder">
</div>

<div id="loading" class="full-screen-overlay" style="display:none;">
  <div class="loading-indicator">
  </div>
</div>

<script type="x-tmpl" id="parcela_template">
  <div id="parcela-modal">
    <div class="modal-header">
      <h3>Detalles</h3>
    </div>
    <div class="modal-body">
      <fieldset>
        <div id="parcela-carousel" class="carousel slide">
            <!-- Carousel items -->
            <div class="carousel-inner">
                {{ _.each(items,function(item,key,list){ }}
                {{ if(key == 0){ }}
                        <div class="item active">
                    {{ } else { }}
                        <div class="item">
                    {{ } }}
                        <dl class="dl-horizontal parcel-info-row"><dt>Nombre</dt><dd>{{ if(item.nombre) { print(item.nombre); } else { print("Sin informaci&oacute;n"); } }}</dd></dl>
                        {{ if(item.calle != undefined && item.nro != undefined){ }}
                            <dl class="dl-horizontal parcel-info-row"><dt>Calle</dt><dd>{{= item.calle}} {{= item.nro}}</dd></dl>
                        {{ } }}
                          <dl class="dl-horizontal parcel-info-row"><dt>Categoria</dt><dd>{{= item.tipo2}}</dd></dl>
                    </div>
                {{ }); }}
            </div>
            {{ if(items.length > 1) { }}
                <!-- Carousel nav -->
                <a class="carousel-control left parcela-carousel-left" href="#"  data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right parcela-carousel-right" href="#" data-slide="next">&rsaquo;</a>
            {{ } }}
            </div>
      </fieldset>
      <div style="text-align:center;">
        <img class="parcela-image" src="http://fotos.usig.buenosaires.gob.ar//getFoto?smp={{= items[0].smp}}&i=0&w=243&h=195"
             onerror="this.onerror = null; this.src = 'assets/no_photo.png'"/>
      </div>
    </div>
    <div class="modal-footer infobox-footer">
      <div class="input-append">
        <input class="location-search-bar span10 typeahead location-search-typeahead" type="text">
        <a class="location-search-button btn disabled">Buscar</a>
      </div>
    </div>
  </div>

</script>

<script type="x-tmpl" id="location-search-box-template">
  <div id="location-search-box-modal">
    <div class="modal-header">
      <h3>Acciones</h3>
    </div>
    <div class="modal-body">
        <div class="input-append location-search-container">
            <input class="location-search-bar span10 typeahead location-search-typeahead" type="text">
            <a class="location-search-button btn disabled">Buscar</a>
        </div>
      <div class="discover-container">
        <dl class="dl-horizontal">
            <dt class="discover-legend">Descubrir los alrededores</dt>
            <dd class="discover-button"><a class="btn" href="#"><i class="icon-search"></i></a></dd>
        </dl>
      </div>
    </div>
  </div>
</script>

<script type="x-tmpl" id="no_details_template">
  <h4>No hay detalles para la parcela seleccionada</h4>
</script>

<script type="x-tmpl" id="no_results_template">
  <h4>No hay resultados para la busqueda</h4>
</script>