<div class="landing-content">

<div class="center-wrapper">
  <div class="landing-search">

    <div class="iso-logo">
      <img class="logo" src=<%= asset_path 'compass.png' %>></img>

      <div class="logo-text">Descubr&iacute; Buenos Aires</div>

    </div>

    <div>
        <div>Buscar (ej. Helader&iacute;a)</div>
        <input id="cat-search" type="text" class="span6 search-bar typeahead">
        <div style="clear:both;">&nbsp;</div>

        <div>Cerca de (ej.: Monroe 3677)</div>

      <input name="dir" id="dir" type="text" class="span6 search-bar typeahead">
        <div style="clear:both;">&nbsp;</div>

      <div class="current-target">Buscando cerca de 9 de Julio y Corrientes</div>

      <a id="search-button" class="btn btn-primary search-button">Buscar</a>
        <div style="clear:both;">&nbsp;</div>

        <div>¿No buscas nada en particular? ¡Conoc&eacute; la ciudad!</div>
        <br />
        <a class="btn btn-primary">Explorar</a>
    </div>

  </div>
</div>
</div>

