<div class="landing-content">
  <div class="iso-logo">Descubr&iacute; Buenos Aires</div>


  <div class="landing-search">

    <div style="clear:both">&nbsp;</div>

    <div class="input-append">
        <input type="text" class="span7 search-bar typeahead">
        <a class="search-button btn">Buscar</a>
    </div>

    <div style="clear:both">&nbsp;</div>

    <div class="landing-legend">
      <div><p class="lead" style="float:left;">Venis de paso? Explora la ciudad!</p><a class="search-button btn explore-button">Explorar</a></div>
    </div>

  </div>
</div>

