<div class="landing-content">

<div class="center-wrapper">
  <div class="landing-search">

    <div class="iso-logo">
      <img src=<%= asset_path 'compass.png' %> class="logo"></img>

      <div class="logo-text">Descubr&iacute; Buenos Aires</div>

    </div>

    <div>
        <div>Buscar (ej. Heladeria)</div>
        <input type="text" class="span7 search-bar typeahead">
        <div style="clear:both;">&nbsp;</div>

        <div>Cerca de (ej.: Monroe 3677)</div>

      <input name="dir" id="dir" type="text" class="span7 search-bar typeahead">
        <div style="clear:both;">&nbsp;</div>

        <a id="search-button" class="btn btn-primary search-button">Buscar</a>

        <div style="clear:both;">&nbsp;</div>

        <div>Venis de paso? Explora la ciudad!</div>
        <br />
        <a class="btn btn-primary">Explorar</a>
    </div>

  </div>
</div>
</div>

