<!DOCTYPE html>
<html lang="en">
<head>
  <title>Descubr&iacute; Buenos Aires</title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <%= stylesheet_link_tag    "landing", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag "landing" %>
</body>
</html>

